<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
          <h1 class="title is-2">Containers</h1>
          <a href="http://{{hostIP}}:9000" class="button is-info" target="_blank">Portainer</a>
          <a href="http://{{hostIP}}:3000" class="button is-info" target="_blank">Grafana</a>
          <a href="http://{{hostIP}}:8888" class="button is-info" target="_blank">Scheduler</a>
          <a href="http://{{hostIP}}" class="button is-info" target="_blank">FastAPI</a>
          <a href="http://{{hostIP}}:5984/_utils" class="button is-info" target="_blank">CouchDB</a>
      </div>
    </section>
    <section class="section">
    <div class="container">
        <h1 class="title is-2">Hub Manager</h1>
        <a href="/sh/hub_up" class="button is-primary">Hub Up</a>
        <a href="/sh/hub_down" class="button is-danger">Hub Down</a>
        <a href="/sh/hub_build" class="button is-warning">Hub Build</a>
        <a href="/sh/hub_pull" class="button is-info">Hub Pull</a>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title is-2">Git</h1>
      <a href="/sh/git_pull" class="button is-primary">Git Pull</a>
      </div>
    </section>
      <section class="section">    
      <div class="container">
    <h1 class="title is-2">Config</h1>
    <a href="/couchdb" class="button is-link">Couchdb Init</a>
    </div>
  </section>
  </body>
</html>